*{
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    /* width:500px;
    height: 500px; */
}

#container canvas {
    position: absolute;
}

#chartcanvas {
    margin-top: 400px;
}

#idvgcanvas {
    margin-top: 10px;

}